<h1 class="ycotitle m-4">YCO Digital</h1>

<p class="ycotitle lead title">Comunicaciones</p>

<form class="mt-5" >
    <div class="container">
        <label class="ycotitle" for="user">Usuario:</label>
        <input type="text" id="user" disabled value='<%= user.name %>' class="ycotitle"><BR>
        <textarea name="message" id="message" cols="30" rows="10" placeholder="Mensaje..."></textarea><br>
        <button type="submit" class="btn btn-info">Enviar</button>
    </div>
</form>

<a href="/" class="mt-5 btn btn-secondary">Volver</a>