 <!-- ======= Contact Section ======= -->
 <section id="contact" class="contact">
    <div class="container mt-5" data-aos="fade-up">

      <div class="section-title">
        <h2>Contacto</h2>
        <p>Contactate con nosotros</p>
      </div>

      <div>
        <iframe style="border:0; width: 100%; height: 270px;"  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d104814.39463080741!2d-56.26275339430216!3d-34.81978090586669!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x959f802c8cc5b8a7%3A0x4c12157c14cf258!2sColonia%20922%2C%2011100%20Montevideo%2C%20Departamento%20de%20Montevideo%2C%20Uruguay!5e0!3m2!1ses-419!2sar!4v1646887923381!5m2!1ses-419!2sar" frameborder="0" allowfullscreen></iframe>
        
      </div>

      <div class="row mt-5">

        <div class="col-lg-4">
          <div class="info">
            <div class="address">
                <i class="fa fa-map-marker"></i>
              <h4>Ubicación:</h4>
              <p>Colonia 922, CP 11100. Departamento de Montevideo, Uruguay</p>
            </div>

            <div class="email">
              <i class="fa fa-envelope"></i>
              <h4>Email:</h4>
              <p>info@example.com</p>
            </div>

            <div class="phone">
              <i class="fa fa-phone"></i>
              <h4>Teléfono:</h4>
              <p>+1 5589 55488 55s</p>
            </div>

          </div>

        </div>

        <div class="col-lg-8 mt-5 mt-lg-0">

          <form action="/send-email" method="post" role="form" class="php-email-form">
            <div class="row">
              <div class="col-md-6 form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Tu nombre" required>
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <input type="email" class="form-control" name="email" id="email" placeholder="Tu Email" required>
              </div>
            </div>
            <div class="form-group mt-3">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Asunto" required>
            </div>
            <div class="form-group mt-3">
              <textarea class="form-control" name="message" rows="5" placeholder="Mensaje" required></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">Enviar consulta</button></div>
          </form>

        </div>

      </div>

    </div>
  </section><!-- End Contact Section -->

   <!-- ======= Cta Section ======= -->
   <section id="cta" class="cta">
    <div class="container" data-aos="zoom-in">

      <div class="text-center">
        <h3>Inscribete a nuestros cursos</h3>
        <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <a class="cta-btn" href="/cursos#curso">Ver Cursos</a>
      </div>

    </div>
  </section><!-- End Cta Section -->