   <!-- ======= Cta Section ======= -->
   <section id="cta2" class="cta2">
    <div class="container" data-aos="zoom-in">

      <div class="text-center">
        <h3>Inscribete a nuestros cursos</h3>
        <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <a class="cta-btn" href="#curso">Ver Cursos</a>
      </div>

    </div>
  </section><!-- End Cta Section -->

  <!-- Portfolio Grid-->
  <section class="page-section bg-light mt-5" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase mb-2">
                Area de capacitación</h2>
            <h3 class="section-subheading text-muted">Nuestros Cursos</h3>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 1-->
                <div class="portfolio-item"  id="curso">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="img/portfolio/1.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Acreditación En Fase Preanalitica En Genética Forense</div>
                        <div class="portfolio-caption-subheading text-muted">11 de Abril al 11 de Mayo de 2022</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 2-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="img/portfolio/2.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Estadística Aplicada A La Genética Forense</div>
                        <div class="portfolio-caption-subheading text-muted">02 de Mayo al 02 de Julio de 2022</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 3-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="img/portfolio/3.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Perito Experto En Genética Forense</div>
                        <div class="portfolio-caption-subheading text-muted">01 de Setiembre al 01 de Diciembre 2022</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <!-- Portfolio item 4-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal4">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="img/portfolio/4.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">XII Jornadas Latinoamericanas De Genética Forense</div>
                        <div class="portfolio-caption-subheading text-muted">Proximamente mas información</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                <!-- Portfolio item 5-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal5">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="img/portfolio/5.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Aplicaciones De La Genética Forense</div>
                        <div class="portfolio-caption-subheading end">Finalizado</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <!-- Portfolio item 6-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal6">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="img/portfolio/6.jpg" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Biología Forense</div>
                        <div class="portfolio-caption-subheading end">Finalizado</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

  <!-- Portfolio Modals-->
        <!-- Portfolio item 1 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Acreditación En Fase Preanalitica En Genética Forense</h2>
                                    <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                    <img class="img-fluid d-block mx-auto" src="img/portfolio/1.jpg" alt="..." />
                                    <div class="content-1">
                                    <p>                                       
                                        Objetivo: Obtener certificación en la fase pre- analítica que comprende la preparación, toma, identificación, manejo, conservación, transporte y almacenamiento de muestras para análisis de ADN con fines de identificación humana.
                                        
                                        Modalidad: Online. El curso consta de 3 módulos que se pueden tomar todos o alguno de ellos, según lo desee el solicitante:</p>

                                        <table class="container" border=1 cellspacing=0 cellpadding=0
                                        style='border-collapse:collapse;border:none;mso-border-alt:solid black .5pt;
                                        mso-border-themecolor:text1;mso-yfti-tbllook:1184;mso-padding-alt:0cm 5.4pt 0cm 5.4pt'>
                                        <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes'>
                                        <td width=147 colspan=2 valign=top style='width:110.05pt;border:solid black 1.0pt;
                                        mso-border-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:
                                        text1;padding:0cm 5.4pt 0cm 5.4pt'>
                                        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
                                        normal'><span lang=ES-MX style='mso-ansi-language:ES-MX'>CONTENIDO CIENTÍFICO<o:p></o:p></span></p>
                                        </td>
                                        <td width=144 valign=top style='width:108.05pt;border:solid black 1.0pt;
                                        mso-border-themecolor:text1;border-left:none;mso-border-left-alt:solid black .5pt;
                                        mso-border-left-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:
                                        text1;padding:0cm 5.4pt 0cm 5.4pt'>
                                        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
                                        normal'><span lang=ES-MX style='mso-ansi-language:ES-MX'>MÓDULO 1:
                                        Levantamiento de indicios biológicos en la escena del crimen (1:30 hs)<o:p></o:p></span></p>
                                        </td>
                                        <td width=144 valign=top style='width:108.05pt;border:solid black 1.0pt;
                                        mso-border-themecolor:text1;border-left:none;mso-border-left-alt:solid black .5pt;
                                        mso-border-left-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:
                                        text1;padding:0cm 5.4pt 0cm 5.4pt'>
                                        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
                                        normal'><span lang=ES-MX style='mso-ansi-language:ES-MX'>MÓDULO 2: Toma de
                                        muestras de referencia en individuos vivos <o:p></o:p></span></p>
                                        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
                                        normal'><span lang=ES-MX style='mso-ansi-language:ES-MX'>(1:30 hs)<o:p></o:p></span></p>
                                        </td>
                                        <td width=144 valign=top style='width:108.05pt;border:solid black 1.0pt;
                                        mso-border-themecolor:text1;border-left:none;mso-border-left-alt:solid black .5pt;
                                        mso-border-left-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:
                                        text1;padding:0cm 5.4pt 0cm 5.4pt'>
                                        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
                                        normal'><span lang=ES-MX style='mso-ansi-language:ES-MX'>MÓDULO 3: Toma de
                                        muestras prenatales y post- mórtem<o:p></o:p></span></p>
                                        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
                                        normal'><span lang=ES-MX style='mso-ansi-language:ES-MX'>(1:30 hs)<o:p></o:p></span></p>
                                        </td>
                                        </tr>
                                        <tr style='mso-yfti-irow:1'>
                                        <td width=144 colspan=2 valign=top style='width:108.05pt;border:solid black 1.0pt;
                                        mso-border-themecolor:text1;border-top:none;mso-border-top-alt:solid black .5pt;
                                        mso-border-top-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:
                                        text1;padding:0cm 5.4pt 0cm 5.4pt'>
                                        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
                                        normal'><span lang=ES-MX style='mso-ansi-language:ES-MX'>Docentes<o:p></o:p></span></p>
                                        </td>
                                        <td width=144 valign=top style='width:108.05pt;border-top:none;border-left:
                                        none;border-bottom:solid black 1.0pt;mso-border-bottom-themecolor:text1;
                                        border-right:solid black 1.0pt;mso-border-right-themecolor:text1;mso-border-top-alt:
                                        solid black .5pt;mso-border-top-themecolor:text1;mso-border-left-alt:solid black .5pt;
                                        mso-border-left-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:
                                        text1;padding:0cm 5.4pt 0cm 5.4pt'>
                                        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
                                        normal'><span lang=ES-MX style='mso-ansi-language:ES-MX'>Dr. Juan Carlos
                                        Jaime<o:p></o:p></span></p>
                                        </td>
                                        <td width=144 valign=top style='width:108.05pt;border-top:none;border-left:
                                        none;border-bottom:solid black 1.0pt;mso-border-bottom-themecolor:text1;
                                        border-right:solid black 1.0pt;mso-border-right-themecolor:text1;mso-border-top-alt:
                                        solid black .5pt;mso-border-top-themecolor:text1;mso-border-left-alt:solid black .5pt;
                                        mso-border-left-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:
                                        text1;padding:0cm 5.4pt 0cm 5.4pt'>
                                        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
                                        normal'><span lang=ES-MX style='mso-ansi-language:ES-MX'>Dra. Ixchel De La
                                        Luz Martínez<o:p></o:p></span></p>
                                        </td>
                                        <td width=144 valign=top style='width:108.05pt;border-top:none;border-left:
                                        none;border-bottom:solid black 1.0pt;mso-border-bottom-themecolor:text1;
                                        border-right:solid black 1.0pt;mso-border-right-themecolor:text1;mso-border-top-alt:
                                        solid black .5pt;mso-border-top-themecolor:text1;mso-border-left-alt:solid black .5pt;
                                        mso-border-left-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:
                                        text1;padding:0cm 5.4pt 0cm 5.4pt'>
                                        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
                                        normal'><span lang=ES-MX style='mso-ansi-language:ES-MX'>Dra. Antonella <span
                                        class=SpellE>Belen</span> Penacino<o:p></o:p></span></p>
                                        </td>
                                        </tr>
                                        <tr style='mso-yfti-irow:2'>
                                        <td width=72 rowspan=4 valign=top style='width:54.0pt;border:solid black 1.0pt;
                                        mso-border-themecolor:text1;border-top:none;mso-border-top-alt:solid black .5pt;
                                        mso-border-top-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:
                                        text1;padding:0cm 5.4pt 0cm 5.4pt'>
                                        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
                                        normal'><span lang=ES-MX style='mso-ansi-language:ES-MX'>Aranceles<o:p></o:p></span></p>
                                        </td>
                                        <td width=72 rowspan=2 valign=top style='width:54.05pt;border-top:none;
                                        border-left:none;border-bottom:solid black 1.0pt;mso-border-bottom-themecolor:
                                        text1;border-right:solid black 1.0pt;mso-border-right-themecolor:text1;
                                        mso-border-top-alt:solid black .5pt;mso-border-top-themecolor:text1;
                                        mso-border-left-alt:solid black .5pt;mso-border-left-themecolor:text1;
                                        mso-border-alt:solid black .5pt;mso-border-themecolor:text1;padding:0cm 5.4pt 0cm 5.4pt'>
                                        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
                                        normal'><span lang=ES-MX style='mso-ansi-language:ES-MX'>General<o:p></o:p></span></p>
                                        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
                                        normal'><span lang=ES-MX style='mso-ansi-language:ES-MX'><o:p>&nbsp;</o:p></span></p>
                                        </td>
                                        <td width=144 valign=top style='width:108.05pt;border-top:none;border-left:
                                        none;border-bottom:solid black 1.0pt;mso-border-bottom-themecolor:text1;
                                        border-right:solid black 1.0pt;mso-border-right-themecolor:text1;mso-border-top-alt:
                                        solid black .5pt;mso-border-top-themecolor:text1;mso-border-left-alt:solid black .5pt;
                                        mso-border-left-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:
                                        text1;padding:0cm 5.4pt 0cm 5.4pt'>
                                        <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
                                        text-align:center;line-height:normal'><span lang=ES-MX style='mso-ansi-language:
                                        ES-MX'>50 USD<o:p></o:p></span></p>
                                        </td>
                                        <td width=144 valign=top style='width:108.05pt;border-top:none;border-left:
                                        none;border-bottom:solid black 1.0pt;mso-border-bottom-themecolor:text1;
                                        border-right:solid black 1.0pt;mso-border-right-themecolor:text1;mso-border-top-alt:
                                        solid black .5pt;mso-border-top-themecolor:text1;mso-border-left-alt:solid black .5pt;
                                        mso-border-left-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:
                                        text1;padding:0cm 5.4pt 0cm 5.4pt'>
                                        <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
                                        text-align:center;line-height:normal'><span lang=ES-MX style='mso-ansi-language:
                                        ES-MX'>50 USD<o:p></o:p></span></p>
                                        </td>
                                        <td width=144 valign=top style='width:108.05pt;border-top:none;border-left:
                                        none;border-bottom:solid black 1.0pt;mso-border-bottom-themecolor:text1;
                                        border-right:solid black 1.0pt;mso-border-right-themecolor:text1;mso-border-top-alt:
                                        solid black .5pt;mso-border-top-themecolor:text1;mso-border-left-alt:solid black .5pt;
                                        mso-border-left-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:
                                        text1;padding:0cm 5.4pt 0cm 5.4pt'>
                                        <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
                                        text-align:center;line-height:normal'><span lang=ES-MX style='mso-ansi-language:
                                        ES-MX'>50 USD<o:p></o:p></span></p>
                                        </td>
                                        </tr>
                                        <tr style='mso-yfti-irow:3'>
                                        <td width=432 colspan=3 valign=top style='width:324.15pt;border-top:none;
                                        border-left:none;border-bottom:solid black 1.0pt;mso-border-bottom-themecolor:
                                        text1;border-right:solid black 1.0pt;mso-border-right-themecolor:text1;
                                        mso-border-top-alt:solid black .5pt;mso-border-top-themecolor:text1;
                                        mso-border-left-alt:solid black .5pt;mso-border-left-themecolor:text1;
                                        mso-border-alt:solid black .5pt;mso-border-themecolor:text1;padding:0cm 5.4pt 0cm 5.4pt'>
                                        <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
                                        text-align:center;line-height:normal'><span lang=ES-MX style='mso-ansi-language:
                                        ES-MX'>125 USD<o:p></o:p></span></p>
                                        </td>
                                        </tr>
                                        <tr style='mso-yfti-irow:4'>
                                        <td width=73 rowspan=2 valign=top style='width:55.05pt;border-top:none;
                                        border-left:none;border-bottom:solid black 1.0pt;mso-border-bottom-themecolor:
                                        text1;border-right:solid black 1.0pt;mso-border-right-themecolor:text1;
                                        mso-border-top-alt:solid black .5pt;mso-border-top-themecolor:text1;
                                        mso-border-left-alt:solid black .5pt;mso-border-left-themecolor:text1;
                                        mso-border-alt:solid black .5pt;mso-border-themecolor:text1;padding:0cm 5.4pt 0cm 5.4pt'>
                                        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
                                        normal'><span lang=ES-MX style='mso-ansi-language:ES-MX'>Socios SLAGF<o:p></o:p></span></p>
                                        </td>
                                        <td width=144 valign=top style='width:108.05pt;border-top:none;border-left:
                                        none;border-bottom:solid black 1.0pt;mso-border-bottom-themecolor:text1;
                                        border-right:solid black 1.0pt;mso-border-right-themecolor:text1;mso-border-top-alt:
                                        solid black .5pt;mso-border-top-themecolor:text1;mso-border-left-alt:solid black .5pt;
                                        mso-border-left-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:
                                        text1;padding:0cm 5.4pt 0cm 5.4pt'>
                                        <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
                                        text-align:center;line-height:normal'><span lang=ES-MX style='mso-ansi-language:
                                        ES-MX'>40 USD<o:p></o:p></span></p>
                                        </td>
                                        <td width=144 valign=top style='width:108.05pt;border-top:none;border-left:
                                        none;border-bottom:solid black 1.0pt;mso-border-bottom-themecolor:text1;
                                        border-right:solid black 1.0pt;mso-border-right-themecolor:text1;mso-border-top-alt:
                                        solid black .5pt;mso-border-top-themecolor:text1;mso-border-left-alt:solid black .5pt;
                                        mso-border-left-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:
                                        text1;padding:0cm 5.4pt 0cm 5.4pt'>
                                        <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
                                        text-align:center;line-height:normal'><span lang=ES-MX style='mso-ansi-language:
                                        ES-MX'>40 USD<o:p></o:p></span></p>
                                        </td>
                                        <td width=144 valign=top style='width:108.05pt;border-top:none;border-left:
                                        none;border-bottom:solid black 1.0pt;mso-border-bottom-themecolor:text1;
                                        border-right:solid black 1.0pt;mso-border-right-themecolor:text1;mso-border-top-alt:
                                        solid black .5pt;mso-border-top-themecolor:text1;mso-border-left-alt:solid black .5pt;
                                        mso-border-left-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:
                                        text1;padding:0cm 5.4pt 0cm 5.4pt'>
                                        <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
                                        text-align:center;line-height:normal'><span lang=ES-MX style='mso-ansi-language:
                                        ES-MX'>40 USD<o:p></o:p></span></p>
                                        </td>
                                        </tr>
                                        <tr style='mso-yfti-irow:5;mso-yfti-lastrow:yes'>
                                        <td width=432 colspan=3 valign=top style='width:324.15pt;border-top:none;
                                        border-left:none;border-bottom:solid black 1.0pt;mso-border-bottom-themecolor:
                                        text1;border-right:solid black 1.0pt;mso-border-right-themecolor:text1;
                                        mso-border-top-alt:solid black .5pt;mso-border-top-themecolor:text1;
                                        mso-border-left-alt:solid black .5pt;mso-border-left-themecolor:text1;
                                        mso-border-alt:solid black .5pt;mso-border-themecolor:text1;padding:0cm 5.4pt 0cm 5.4pt'>
                                        <p class=MsoNormal align=center style='margin-bottom:0cm;margin-bottom:.0001pt;
                                        text-align:center;line-height:normal'><span lang=ES-MX style='mso-ansi-language:
                                        ES-MX'>100 USD<o:p></o:p></span></p>
                                        </td>
                                        </tr>
                                        </table>

                                        <hr>
                                    <p>Evaluación: El examen final constará de 10 preguntas por módulo (total de 30 preguntas) con el formato de opción múltiple. </p>

                                    <p> EL PROFESIONAL QUEDARÁ ACREDITADO EN FASE PREANALÍTICA POR UN PERÍODO DE 4 AÑOS. Luego de este período, si está interesado, deberá volver a tomar el curso para ser acreditado por 4 años más, con las modificaciones que se hayan incorporado en el ámbito científico- forense.</p>
                                        
                                    <p>   Duración del curso: 1 (un) mes. Todos los lunes se agregará un módulo a la plataforma, durante tres semanas, cumpliendo así con los tres módulos previstos. El alumno podrá ver la clase cuántas veces lo desee durante el mes de duración del curso. La última semana tendrán acceso al examen.</p>
                                        
                                    <p>    En caso de inscribirse sólo a uno o dos de los módulos previstos, la duración será de una semana por cada módulo realizado y una semana extra para la realización del examen que corresponda.
                                        
                                        Carga Horaria Total: 30 (treinta) horas académicas, 10 (diez) horas académicas por cada módulo.
                                        
                                    <p>    <b> INSCRIPCIONES: </b> Enviar al e-mail cursos@slagf.org datos personales: nombre y apellido, título profesional (si posee), lugar de trabajo (si posee), ciudad y país de residencia. Además, enviar un comprobante del pago realizado.</p>
                                        
                                        <p>    <b> FORMAS DE PAGO: </b> Puede hacerlo con tarjeta de crédito ingresando  <a href="http://www.slagf.org/pagopreanalitica.html">AQUI</a>
                                             </p>
                                        
                                        Inscriptos de México o de Argentina, pueden abonar en moneda local mediante transferencia o depósito bancario (consultar cuentas al inscribirse).
                                        
                                         </p>  
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Organiza:</strong>
                                            Sociedad Latinoamericana de Genética Forense
                                        </li>
                                        <li>
                                            <strong>  Dirigido a:</strong>
                                            Profesionales relacionados con la genética forense (Químicos, Biólogos, Bioquímicos, Médicos, Abogados, Licenciados en Criminalística, Personal Policial).
                                        </li>
                                    </ul>
                                  
                                    <button onclick="change(this.id)" id="USD-1" class="btn btn-success btn-xl text-uppercase mt-2">Pagar en Dólares (USD)</button>
                                    <button onclick="change(this.id)" id="ARS-1"  class="btn btn-info btn-xl text-uppercase mt-2">Pagar en Pesos Argentinos (ARS)</button>
                                    <button onclick="change(this.id)" id="UYU-1"  class="btn btn-outline-info btn-xl text-uppercase mt-2">Pagar en Pesos Uruguayos (UYU)</button>
                                    <br>
                                    </div>
                                    <button  class="btn btn-primary btn-xl text-uppercase mt-2" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-times me-1"></i>
                                        Cerrar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 2 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Estadística Aplicada A La Genética Forense</h2>
                                    <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                    <img class="img-fluid d-block mx-auto" src="img/portfolio/2.jpg" alt="..." />
                                    <div class="content-2">
                                    <ul class="text-justify">Contenidos
                                       <li> 1- Introducción a la Genética Forense. Dr. Gustavo A. Penacino</li>
                                       <li> 2- Paternidad y otros vínculos: teoría y práctica. Dra. Sinthia Pagano</li>
                                       <li> 3- Cómo hacer los cálculos de vínculos biológicos de modo sencillo: uso del programa gratuito FAMILIAS.</li>
                                       <li> Cálculos para CROMOSOMAS X e Y. Bioq. Antonella Penacino</li>
                                       <li> 4- Cáculos de Coincidencia en evidencias de escenas del crimen: teoría y práctica. Dra. Sinthia Pagano</li>
                                       <li> 5- Cómo hacer los cálculos de Indices y Probabilidades de Coincidencia en casos criminales de modo</li>
                                        sencillo: uso del programa gratuito LRMIX. Bioq. Antonella Penacino</li>
                                    </ul>
                                    <ul class="list-inline text-justify"> <hr>
                                        <li>
                                            <strong>Organiza:</strong>
                                            Sociedad Latinoamericana de Genética Forense
                                        </li>
                                        <li>
                                            <strong>Dirigido a:</strong>
                                            Profesionales del área biomédica relacionados con la GENETICA FORENSE.
                                        </li>
                                        <li>
                                            <strong>Objetivo:</strong>
                                            Aprender a efectuar cálculos de Indices y Probabilidades, tanto en vínculos biológicos como en casos criminales, simples y complejos.
                                        </li>
                                        <li>
                                            <strong>Duración:</strong>
                                            2 (dos) meses. Todos los jueves se irá agregando una nueva clase, durante cinco semanas. Podrá ver cada clase tantas veces como desee, durante los dos meses, en el horario que quiera, pues estarán disponibles en forma permanente. Además, se incluyen actividades prácticas de auto-correccion, cuyas respuestas se publican con la clase siguiente.
                                        </li>
                                        <li>
                                            <strong>Carga horaria: </strong>
                                            50 (cincuenta) horas académicas
                                        </li>
                                        <li>
                                            <strong>Directores: </strong>
                                            Dr. Gustavo Penacino
                                        </li>
                                    </ul>
                                    <button onclick="change(this.id)" id="USD-2" class="btn btn-success btn-xl text-uppercase mt-2">Pagar en Dólares (USD)</button>
                                    <button onclick="change(this.id)" id="ARS-2"  class="btn btn-info btn-xl text-uppercase mt-2">Pagar en Pesos Argentinos (ARS)</button>
                                    <button onclick="change(this.id)" id="UYU-2"  class="btn btn-outline-info btn-xl text-uppercase mt-2">Pagar en Pesos Uruguayos (UYU)</button>
                                    <br>
                                    </div>
                                    <button class="btn btn-primary btn-xl text-uppercase mt-2" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-times me-1"></i>
                                        Cerrar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 3 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Perito Experto En Genética Forense</h2>
                                    <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                    <img class="img-fluid d-block mx-auto" src="img/portfolio/3.jpg" alt="..." />
                                <div class="content-3">
                                    <ul class="text-justify">Contenidos
                                        <li> * MÓDULO I: Biología. Generalidades del ADN. Estructura y Funciones. Propiedades del
                                            ADN. Concepto de polimorfismos. V. Pérez Fernández (Rep. Dominicana)
                                            Introducción al análisis pericial y de las ciencias biológicas. Rol del perito. Técnicas de
                                            screening. Historia en la identificación de muestras biológicas. G. Penacino (Arg.)
                                            </li>
                                        <li> * MÓDULO II: Toma de muestras de referencia en casos de paternidad y otros vínculos
                                            biológicos. Actas de consentimiento y otros documentos. Requisitos obligatorios en el
                                            informe final. I. Martínez (México)
                                            Levantamiento, manipulación y conservación de muestras biológicas en delitos penales.
                                            Escena del crimen, muestras dubitadas y muestras de referencia. Cadena de custodia. J.
                                            C. Jaime (Argentina)
                                            STRs autosómicos. Descripción y características. Tipificación genética en electroforesis
                                            capilar. Interpretación de electroferogramas. V. Divizia (Argentina)</li>
                                        <li> * MÓDULO III: STRs sexuales (X/Y). ADN mitocondrial. J. C. Jaime (Arg.)
                                            Estudio de la paternidad y otros vínculos biológicos. Paternidad prenatal y postmortem.
                                            Casos en criminalística. Usos de diferentes polimorfismos. G. Penacino (Argentina)
                                            Teoría de los cálculos estadísticos para la valoración de la prueba en la Justicia.
                                            Softwares informáticos utilizados en Genética Forense. A. Penacino (Arg.)
                                            </li>
                                        <li>* MÓDULO IV: Control de gestión de calidad. Acreditación de laboratorios. O. Urrutia
                                            (Chile)
                                            Banco de Datos Genéticos de interés criminal. Funcionamiento. Nuevas tecnologías.
                                            Futuro de la Genética Forense. S. Pagano (Uruguay)</li>
                                      
                                     </ul>
                                     <ul class="list-inline text-justify"> <hr>
                                        <li>
                                            <strong>Organiza:</strong>
                                            Universidad Nacional del Oriente y Sociedad Latinoamericana de Genética Forense (SLAGF)
                                        </li>
                                        <li>
                                            <strong>Dirigido a:</strong>
                                            Médicos, Bioquímicos, Biólogos, Antropólogos, Químicos, Policías, Abogados, Magistrados y funcionarios del Poder Judicial, Peritos y demás auxiliares de la Justicia.
                                        </li>
                                        <li>
                                            <strong>Objetivo:</strong>
                                            Proporcionar los conocimientos y herramientas necesarias para el ejercicio y contralor de
                                            las pericias genéticas en el ámbito judicial; tanto en la resolución de vínculos biológicos
                                            como en el esclarecimiento de delitos criminales.
                                        </li>
                                        <li>
                                            <strong>Duración:</strong>
                                            120 horas académicas, distribuidas en 4 módulos.
                                        </li>
                                        <li>
                                            <strong>Carga horaria: </strong>
                                            50 (cincuenta) horas académicas.
                                        </li>
                                        <li>
                                            <strong>Directores: </strong>
                                            Dres. Gustavo Penacino y Juan Carlos Jaime.
                                        </li>
                                    </ul>
                                    <button onclick="change(this.id)" id="USD-3" class="btn btn-success btn-xl text-uppercase mt-2">Pagar en Dólares (USD)</button>
                                    <button onclick="change(this.id)" id="ARS-3"  class="btn btn-info btn-xl text-uppercase mt-2">Pagar en Pesos Argentinos (ARS)</button>
                                    <button onclick="change(this.id)" id="UYU-3"  class="btn btn-outline-info btn-xl text-uppercase mt-2">Pagar en Pesos Uruguayos (UYU)</button>
                                    <br>
                                </div>
                                    <button class="btn btn-primary btn-xl text-uppercase mt-2" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-times me-1"></i>
                                        Cerrar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 4 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase"> XII JORNADAS LATINOAMERICANAS DE GENETICA FORENSE</h2>
                                    <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                    <img class="img-fluid d-block mx-auto" src="img/portfolio/4.jpg" alt="..." />
                                    <div class="content-4">
                                    <p>Medellin, Colombia. MODALIDAD MIXTA: PRESENCIAL Y VIRTUAL. </p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Organiza:</strong>
                                            SLAGF
                                        </li>
                                        <li>
                                            <strong>Dirigido a:</strong>
                                            Profesionales del área biomédica relacionados con la GENETICA FORENSE.
                                        </li>
                                    </ul>
                                    <button onclick="change(this.id)" id="USD-4" class="btn btn-success btn-xl text-uppercase mt-2">Pagar en Dólares (USD)</button>
                                    <button onclick="change(this.id)" id="ARS-4"  class="btn btn-info btn-xl text-uppercase mt-2">Pagar en Pesos Argentinos (ARS)</button>
                                    <button onclick="change(this.id)" id="UYU-4"  class="btn btn-outline-info btn-xl text-uppercase mt-2">Pagar en Pesos Uruguayos (UYU)</button>
                                    <br>
                                    </div>
                                    <button class="btn btn-primary btn-xl text-uppercase mt-2" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-times me-1"></i>
                                        Cerrar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 5 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Aplicaciones De La Genética Forense</h2>
                                    <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                    <img class="img-fluid d-block mx-auto" src="img/portfolio/5.jpg" alt="..." />
                                    <div class="content-5">
                                    <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Client:</strong>
                                            Southwest
                                        </li>
                                        <li>
                                            <strong>Category:</strong>
                                            Website Design
                                        </li>
                                    </ul>
                                    <button onclick="change(this.id)" id="USD-5" class="btn btn-success btn-xl text-uppercase mt-2" disabled>Pagar en Dólares (USD)</button>
                                    <button onclick="change(this.id)" id="ARS-5"  class="btn btn-info btn-xl text-uppercase mt-2" disabled>Pagar en Pesos Argentinos (ARS)</button>
                                    <button onclick="change(this.id)" id="UYU-5"  class="btn btn-outline-info btn-xl text-uppercase mt-2" disabled>Pagar en Pesos Uruguayos (UYU)</button>
                                    <br>
                                    </div>
                                    <button class="btn btn-primary btn-xl text-uppercase mt-2" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-times me-1"></i>
                                        Cerrar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 6 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Biología Forense</h2>
                                    <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                    <img class="img-fluid d-block mx-auto" src="img/portfolio/6.jpg" alt="..." />
                                    <div class="content-6">
                                    <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                    <ul class="list-inline">
                                        <li>
                                            <strong>Client:</strong>
                                            Window
                                        </li>
                                        <li>
                                            <strong>Category:</strong>
                                            Photography
                                        </li>
                                    </ul>
                                    <button onclick="change(this.id)" id="USD-6" class="btn btn-success btn-xl text-uppercase mt-2" disabled>Pagar en Dólares (USD)</button>
                                    <button onclick="change(this.id)" id="ARS-6"  class="btn btn-info btn-xl text-uppercase mt-2" disabled>Pagar en Pesos Argentinos (ARS)</button>
                                    <button onclick="change(this.id)" id="UYU-6"  class="btn btn-outline-info btn-xl text-uppercase mt-2" disabled>Pagar en Pesos Uruguayos (UYU)</button>
                                    <br>
                                    </div>
                                    <button class="btn btn-primary btn-xl text-uppercase mt-2" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-times me-1"></i>
                                        Cerrar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




  <!-- About-->
  <section class="page-section mt-5" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Sobre nosotros</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="img/" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2004-2022</h4>
                        <h4 class="subheading">Nuestros comienzos</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src=" /img/" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2004</h4>
                        <h4 class="subheading">SLAGF</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Durante el año 2004 llevamos a cabo más de diez (10) cursos, jornadas y conferencias con la participación de destacados expositores de Alemania, Argentina, Estados Unidos, España y Uruguay. La respuesta de nuestros colegas nos sorprendió gratamente: asistieron como alumnos cientos de profesionales procedentes de todas las provincias argentinas, y también de Bolivia, Brasil, Chile, México, Paraguay y Uruguay. Incluso debimos limitar los cursos prácticos, o repetirlos en una fecha adicional por exceso de inscriptos, lo cual nos resultó especialmente llamativo por cuanto otros cursos, organizados por colegas ajenos a nuestra Sociedad, debieron ser suspendidos por falta de interesados.</p></div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="/img/" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2015</h4>
                        <h4 class="subheading">Lorem sit amet, consectetur adipisicing</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="/img/" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2022</h4>
                        <h4 class="subheading">Lorem ipsum dolor sit amet, consectetur adipisicing</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Aprenda
                        <br />
                        Con
                        <br />
                        Nosotros!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>


 
  

<% include ./partials/messages %>



 