
<!-- ======= Gallery Section ======= -->
<section id="gallery" class="gallery mt-5">
    <div class="container">

      <div class="section-title">
        <h2>Galería</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row g-0">

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="img/gallery/gallery-1.jpg" class="galelry-lightbox">
              <img src="img/gallery/gallery-1.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="img/gallery/gallery-2.jpg" class="galelry-lightbox">
              <img src="img/gallery/gallery-2.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="img/gallery/gallery-3.jpg" class="galelry-lightbox">
              <img src="img/gallery/gallery-3.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="img/gallery/gallery-4.jpg" class="galelry-lightbox">
              <img src="img/gallery/gallery-4.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="img/gallery/gallery-5.jpg" class="galelry-lightbox">
              <img src="img/gallery/gallery-5.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="img/gallery/gallery-6.jpg" class="galelry-lightbox">
              <img src="img/gallery/gallery-6.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="img/gallery/gallery-7.jpg" class="galelry-lightbox">
              <img src="img/gallery/gallery-7.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="img/gallery/gallery-8.jpg" class="galelry-lightbox">
              <img src="img/gallery/gallery-8.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Gallery Section -->



<div class="container mt-5">

    <div class="section-title">
        <h2>Noticias</h2>
        <p>Información y Novedades</p>
    </div>


<% include ./partials/messages %>




<article>
    <h1>Article title</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid dicta dolor animi quis in, aperiam nesciunt nulla possimus velit, omnis aut quia accusantium, sed nemo. Saepe praesentium odit quisquam iure.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam molestias explicabo sunt, alias minus quidem dolor voluptatibus distinctio doloribus repellendus! At distinctio in nam eos? Tempora quibusdam a hic odit.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel asperiores quaerat voluptate ipsum alias quos dolore, cupiditate sint pariatur omnis, adipisci dolor, in consequuntur aliquam suscipit minus rem. Error, atque!</p>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam molestias explicabo sunt, alias minus quidem dolor voluptatibus distinctio doloribus repellendus! At distinctio in nam eos? Tempora quibusdam a hic odit.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel asperiores quaerat voluptate ipsum alias quos dolore, cupiditate sint pariatur omnis, adipisci dolor, in consequuntur aliquam suscipit minus rem. Error, atque!</p>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam molestias explicabo sunt, alias minus quidem dolor voluptatibus distinctio doloribus repellendus! At distinctio in nam eos? Tempora quibusdam a hic odit.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel asperiores quaerat voluptate ipsum alias quos dolore, cupiditate sint pariatur omnis, adipisci dolor, in consequuntur aliquam suscipit minus rem. Error, atque!</p>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam molestias explicabo sunt, alias minus quidem dolor voluptatibus distinctio doloribus repellendus! At distinctio in nam eos? Tempora quibusdam a hic odit.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel asperiores quaerat voluptate ipsum alias quos dolore, cupiditate sint pariatur omnis, adipisci dolor, in consequuntur aliquam suscipit minus rem. Error, atque!</p>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam molestias explicabo sunt, alias minus quidem dolor voluptatibus distinctio doloribus repellendus! At distinctio in nam eos? Tempora quibusdam a hic odit.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel asperiores quaerat voluptate ipsum alias quos dolore, cupiditate sint pariatur omnis, adipisci dolor, in consequuntur aliquam suscipit minus rem. Error, atque!</p>
  </article>

</div>


